* {
    padding: 0;
    margin: 0;
    box-sizing: initial;
  }
  .Catalog {
    font-size: 40px;
    text-align: center;
  }
  .Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .Container a {
    display: inline-block;
  }
  .Item {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 600px;
    align-items: center;
    border-bottom: 1px solid #bbbbbb;
  }
  .Item p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .Item h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .Item img {
    width: 50%;
    height: 80%;
    border-radius: 30px;
  }
  .Item div {
    padding: 5%;
  }
  @media (max-width: 1280px) {
    .Item p {
      font-size: 16px;
    }
    .Item h4 {
      font-size: 40px;
    }
  }
  @media (max-width: 850px) {
    .Item {
      height: max-content;
      flex-direction: column;
    }
    .Item img {
      width: 70%;
    }
    .Item div {
      text-align: center;
    }
    .Item h4{
      font-size: 20px;
    }
  }
  